// Variable Sass
$primary-color: #F5C332;
$secondary-color: #231E41;
$white-color: #fff;
$black-color: #1c1c1c;

/* Text Color Variable */
$text-primary: #F5C332;
$text-secondary: #231E41;
$text-white: #fff;
$text-color: #555;
$text-gray: #999;

// sass features
// 1: operator
// 2: variable
// 3: nesting
